<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ProFuturo</title>
    
</head>

<body>
    <a href="/perfil"><p align="right">Meu Perfil</p></a>
    <h1 align="center">Olá, {{ request.user.username }}! Bem vindo a ProFuturo</h1>
    <br>
    <h2>Teste integração de vídeos...</h2>
    <table>
        <tr>
            <td>
                <iframe width="480" height="270" src="https://www.youtube.com/embed/D4BJyL-Vy-Y?si=wkd_PpXVAqWWZCyW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </td>
            <td>
                <iframe width="480" height="270" src="https://www.youtube.com/embed/osIrS1d3uOs?si=iVKg8MdTzNASMrS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </td>
            <td>
                <iframe width="480" height="270" src="https://www.youtube.com/embed/MXebO-DXxwA?si=R0ELPm57f-zPhhX1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </td>
        </tr>
    </table>
</body>
</html>
