{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
      .perfil-container {
          display: flex;
          justify-content: center; /* Centraliza horizontalmente */
          align-items: center; /* Centraliza verticalmente, caso necessário */
          flex-direction: column; /* Coloca o conteúdo em coluna (imagem + texto) */
      }

      .perfil-imagem {
          width: 150px; /* Ajuste o tamanho da imagem */
          height: 150px;
          border-radius: 50%; /* Torna a imagem circular */
          object-fit: cover; /* Corta a imagem para preencher o espaço */
          object-position: top; /* Mostra a parte superior da imagem */
      }
    </style>
{% endblock %}

{% block main %}
      <div class="form-signin w-100 m-auto">
        <div class="perfil-container">
            <br><br><br>
            {% if user.perfil.imagem_perfil %}
                <img class="perfil-imagem mb-4" src="{{ user.perfil.imagem_perfil.url }}" alt="Imagem de Perfil">
            {% else %}
                <img class="perfil-imagem mb-4" src="{% static 'img/perfil.png' %}" alt="Imagem de Perfil Padrão">
            {% endif %}

            <div class="form-floating">
                <p><strong>Username:</strong> {{ user.username }}</p>
            </div>

            <!-- Exibe o campo de e-mail apenas se o usuário tiver um e-mail cadastrado -->
            {% if user.email %}
                <div class="form-floating">
                    <p><strong>E-mail:</strong> {{ user.email }}</p>
                </div>
            {% endif %}

            <br>
            <div>
                <a href="{% url 'editar' %}" class="btn btn-primary">Atualizar meus dados</a>
            </div>
            <br><br><br>
        </div>
      </div>
{% endblock %}
