<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>perfil</title>
</head>
<body>

    <h1>Página de Perfil</h1>
    <a href="/perfil/editar"><p>Editar perfil</p></a>
    <br>
    <h2>Dados do Usuário</h2>
    <form>
        {% csrf_token %}
        
        <label for="foto">Foto de Perfil:</label><br>
        <input type="file" id="foto" name="foto"><br><br>

        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" value="{{ usuario.nome }}" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ usuario.email }}" required><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha"><br><br>
        
        <button type="submit">Salvar Alterações</button>
    </form>

    

</body>
</html>
